<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action="" method="get">
        {% for field in form %}
            {{field.label_tag}}
            {{field}}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% comment %} <form>
        <table>
            <div><label for= "id_name">Name:</label>
            <input type="text" name="name" required id="id_name"></div>
            <div>
                <label for="{{form.name.id_for_label}}">Name:</label>
                {{form.name}}
                {% comment %} {{form.email}} {% endcomment %}
            {% comment %} </div>
            <div>
                {{form.name.label_tag}}
                {{form.name}}
            </div>
            <div>
                {{form.name.label}}<br>
                {{form.name.value}}<br>
                {% comment %} {{form.name.html_name}}<br>
                {{form.name.help_text}}<br> {% endcomment %}
            {% comment %} </div>
        </table>
    </form> {% endcomment %}

</body>
</html> 